* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 60px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-toggler {
    border: solid white;
}

.bgDarkBlue {
    background-color: #2c3e50;
}

#heroSection {
    background-color: #1abc9c;
}

#about {
    background-color: #1abc9c;
}

.form-control {
    border: none;
}

.form-control:focus {
    box-shadow: none;
}

.mySubmit {
    background-color: #1abc9c;
}

.mySubmit:hover {
    background-color: #1abc9c;
}

footer {
    background-color: #3a546d;
}

.colorGreen {
    color: #1abc9c;
}

#copyright {
    background-color: #2c3e50;
}