* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
   background-color: #2c3e50;
}

#heroSection {
    background-color: #1abc9c;
}

#heroSection img {
    width: 20%;
}

#about {
    background-color: #1abc9c;
}

input, textarea {
    border: none;
}

.mySubmit {
    background-color: #1abc9c;
}

footer {
    height: 415px;
    background-color: #3a546d;
}